<% layout("/layout/boilerplate") %>
<div class="row mt-3">
    <h4 class="col-6 offset-3">Forget</h4>
    <div class="col-6 offset-3">
        <form action="/forget" method="post"  novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" placeholder="Enter Username" type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid title</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" id="email" placeholder="xyz@gmail.com" type="email" class="form-control" required>
            </div>
            <button class="btn btn-dark add-btn">Forget</button>
        </form>
    </div>
</div>